<!DOCTYPE html>
<html>
<head>
	<title><%= gym.name %></title>
	<%- include('head.ejs') %>
	<script type="text/javascript" src="/gym/gym.js"></script>
	<link rel="stylesheet" type="text/css" href="/gym/gym.css">
</head>
<body>
	<%- include('signin.ejs') %>
	<a href="/">Home</a>
	<div><%= gym.name %></div>
	<div><%= gym.description %></div>
	<br>
	<div>
		<p>Walls</p>
		<br>
		<% if (common.user.is_verified) { %>
			<a id="edit-anchor" href="/gym/<%= gym.path %>/edit">Edit</a>
		<% } %>
		<% for (var wall of walls) { %>
			<a class="wall" href="<%= common.path %>/wall/<%= wall.id %>" data-wall-id="<%= wall.id %>">
				<p>id: <%= wall.id %></p>
				<p>name: <%= wall.name %></p>
				<p>difficulty: <%= wall.difficulty %></p>
				<p>location: <%= wall.location %></p>
				<p>date: <%= wall.date._toDateString() %></p>
				<p>setter: <%= wall.setter %></p>
				<p>color: <%= wall.color %></p>
				<p>status: <%= wall.active ? 'active' : 'retired' %></p>
				<p>climbed: <input class="wall-climbed-checkbox" type="checkbox" <%= climbedWalls.indexOf(wall.id) !== -1 ? 'checked ' : '' %></p>
			</a>
			<br>
		<% } %>
	</div>
</body>
</html>
