<!DOCTYPE html>
<html>
<head>
	<title><%= gym.name %></title>
	<%- include('head.ejs') %>
	<script type="text/javascript" src="/gym/gym_edit.js"></script>
	<link rel="stylesheet" type="text/css" href="/gym/gym.css">
</head>
<body>
	<%- include('signin.ejs') %>
    <a href="/">Home</a>
    <form action="" class="update-form">
        <p>name: <input name="name" type="text" value="<%- gym.name %>"></p>
        <p>description: <textarea name="description"><%- gym.description %></textarea></p>
        <input type="submit">
    </form>
	<br>
	<div>
		<p>Walls</p>
		<br>
        <form id="new-wall-form">
            <p>New Wall</p>
            <p>name: <input name="name" type="text"></p>
            <p>difficulty: <input name="difficulty" type="text"></p>
            <p>location: <input name="location" type="text"></p>
            <p>date: <input name="date" type="date"></p>
            <p>setter: <input name="setter" type="text"></p>
            <p>color: <input name="color" type="text"></p>
            <p>active: <input name="active" type="checkbox"></p>
            <input type="submit">
        </form>

        <% for (var wall of walls) { %>
            <form action="wall/<%= wall.id %>/edit" class="wall-update-form update-form">
                <p>id: <%= wall.id %></p>
                <p>name: <input name="name" type="text" value="<%- wall.name %>"></p>
                <p>difficulty: <input name="difficulty" type="text" value="<%- wall.difficulty %>"></p>
                <p>location: <input name="location" type="text" value="<%- wall.location %>"></p>
                <p>date: <input name="date" type="date" value="<%= wall.date._toDateString() %>"></p>
                <p>setter: <input name="setter" type="text" value="<%- wall.setter %>"></p>
                <p>color: <input name="color" type="text" value="<%- wall.color %>"></p>
                <p>active: <input name="active" type="checkbox" <%= wall.active ? 'checked' : '' %>></p>
                <input type="submit">
            </form>
            <br>
		<% } %>
	</div>
</body>
</html>
