<!DOCTYPE html>
<html>
<head>
	<title><%= user.name %></title>
	<%- include('head.ejs') %>
	<script type="text/javascript" src="/user.js"></script>
</head>
<body>
	<%- include('signin.ejs') %>
    <a href="/">Home</a>
    <div id="user" path="<%= common.path %>">
        <p><%- user.name %></p>
        <img src="<%- user.image %>"><br>
        <p>is admin: <input class="user-field-input" data-field="admin" type="checkbox"<%= common.user.is_admin ? '' : ' disabled'%><%= user.is_admin ? ' checked' : '' %>></p>
        <p>is verified: <input class="user-field-input" data-field="verified" type="checkbox"<%= common.user.is_admin ? '' : ' disabled'%><%= user.is_verified ? ' checked' : '' %>></p>
    </div>
</body>
</html>
