<!DOCTYPE html>
<html>
<head>
	<title>The Climbing App</title>
	<%- include('head.ejs') %>
</head>
<body>
	<%- include('signin.ejs') %>
	<div>The Climbing App</div>
	<div>
		<% for (var gym of gyms) { %>
			<p><a href="/gym/<%= gym.path %>"><%= gym.name %> | <%= gym.description %></a></p>
		<% } %>
	</div>
</body>
</html>
