<!DOCTYPE html>
<html>
<head>
	<title><%= gym.name %> | <%= wall.name || wall.id %></title>
	<%- include('head.ejs') %>
</head>
<body>
    <%- include('signin.ejs') %>

    <div>
        <p>id: <%= wall.id %></p>
        <p>name: <%= wall.name %></p>
        <p>difficulty: <%= wall.difficulty %></p>
        <p>location: <%= wall.location %></p>
        <p>date: <%= wall.date._toDateString() %></p>
        <p>setter: <%= wall.setter %></p>
        <p>color: <%= wall.color %></p>
        <p>status: <%= wall.active ? 'active' : 'retired' %></p>
    </div>

    <div>
        <p>Videos</p>
        <br>
        <% if (common.user.is_verified) { %>
        <div>
            <p>New Video</p>
            <form action="<%= common.path %>/upload" enctype="multipart/form-data" method="post">
                <input type="file" name="upload">
                <input type="submit">
            </form>
        </div>
        <% } else { %>
            <p>Email climb.nomorerice@gmail.com to request privileges to upload content</p>
        <% } %>
        <div>
            <% for (var m of media) { %>
                <div>
                    <p>id: <%= m.id %></p>
                    <p>name: <%- m.name %></p>
                    <p>status: <%= m.status %></p>
                    <% if (m.status === 'video') { %>
                        <%- m.info %>
                    <% } else if (m.status === 'image') { %>
                        <img src="<%= m.info %>">
                    <% } else { %>
                        <pre><%- m.info %></pre>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>
