<!DOCTYPE html>
<html>
<head>
	<title><%= gym.name %> | <%= wall.name || wall.id %></title>
	<%- include('head.ejs') %>
</head>
<body>
    <%- include('signin.ejs') %>

    <div>
        <p>id: <%= wall.id %></p>
        <p>name: <%= wall.name %></p>
        <p>difficulty: <%= wall.difficulty %></p>
        <p>location: <%= wall.location %></p>
        <p>date: <%= wall.date._toDateString() %></p>
        <p>setter: <%= wall.setter %></p>
        <p>color: <%= wall.color %></p>
        <p>status: <%= wall.active ? 'active' : 'retired' %></p>
    </div>

    <div>
        <p>Videos</p>
        <br>
        <% if (common.user.is_verified) { %>
        <script type="text/javascript" src="/upload_media.js"></script>
        <div>
            <p>New Media</p>
            <form id="upload_form" action="<%= common.path %>/upload">
                <input type="file" name="upload">
                <input type="submit">
            </form>
        </div>
        <% } else { %>
            <p>Email climb.nomorerice@gmail.com to request privileges to upload content</p>
        <% } %>
        <div>
            <% for (var m of media) { %>
                <div>
                    <p>id: <%= m.id %></p>
                    <p>mime: <%= m.mime %></p>
                    <% if (!m.data) { %>
                        <p>received - handling</p>
                    <% } else if (m.mime === 'video') { %>
                        <iframe src="https://www.facebook.com/plugins/video.php?href=<%- encodeURIComponent(`https://www.facebook.com${m.data}`) %>" width="<%= m.width %>" height="<%= m.height %>" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                    <% } else if (m.mime === 'image') { %>
                        <img src="<%= m.data %>">
                    <% } else { %>
                        <pre><%= m.data %></pre>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>
